@charset "utf-8";

.new-task {
    width: 100%;
    margin: 0 auto;

    .error-message {
        color: #ff3333;
    }

    &-form {
        color: #555555;
    }

    &-detail {
        height: 200px;
    }

    &-button {
        background-color: #242f9b;
        color: #ffffff;
        width: 80px;
        height: 40px;
        border-radius: 5px;
    }

    &-select-list,
    &-title,
    &-detail {
        width: 300px;
        margin-bottom: 25px;
    }
}
