@charset "utf-8";

.signup {
    width: 100%;
    margin: 0 auto;

    .error-message {
        color: #ff3333;
    }

    &-form {
        margin: 25px 0;
        color: #555555;

        .email-input,
        .name-input,
        .password-input {
            box-sizing: border-box;
            width: 100%;
            font-size: large;
            height: 30px;
            margin-bottom: 25px;
        }
    }

    &-button {
        background-color: #242f9b;
        color: #ffffff;
        width: 100px;
        height: 40px;
        border-radius: 5px;
    }
}
